
/* Sidebar */
.sidebar {
  background-color: #83D8F7;
  border-radius: 50px;
  padding: 20px; /* Ajuste de padding */
  height: 450px;
  width: 250px;
  text-align: center;
  float: left; /* Cambiado a float para alinear con el contenido */
  
}


.sidebar img {
    border-radius: 50%;
    max-width: 40%;
    height: auto;
}

.sidebar h2 {
    font-size: 1em;
    margin: auto;
}

.opciones {
    padding-top: 30px;
    font-size: 1.2em;
}

li {
    text-align: start;
    padding-bottom: 15%;
    font-weight: bold;
    list-style: none;
}

li a {
    text-decoration: none;
    color: black;
}

li a:hover {
    color: #2A5FE2;
}


/* Profile */
/* Asegúrate de que el contenedor principal tenga suficiente margen a la izquierda */
.profile {
  background-color: whitesmoke;
  border-radius: 50px;
  padding: 20px;
  margin: auto;
  width: 100%; /* Ajusta el ancho del perfil para dejar espacio para el sidebar */
  max-width: 750px;
  margin-left: 300px; /* Agrega margen izquierdo para separarlo del sidebar *//
}
  
  /* Diseño para la sección superior de la vista de perfil */
  .miperfil-profile {
    display: flex;
    align-items: center;
    gap: 30px;
  }
  
  .profile img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }
  
  .nombre-correo {
    display: flex;
    flex-direction: column;
  }

  
  
  .nombre-correo h3,
  .nombre-correo p,
  input#name {
    font-size: 1.5em;
    margin: 0;
  }
  
  input#name.editable {
    font-weight: bold;
    border: none;
    background-color: transparent;
    font-size: 1.5em;
    padding: 0;
  }
  
  .nombre-correo p {
    color: #8e8e93;
  }
  
  /* Botón de edición */
  button#editar-btn {
    background-color: #2a5fe2;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    height: 40px;
    min-width: 100px;
    font-size: 1.2em;
    font-weight: bold;
  }
  
  button#editar-btn:hover {
    background-color: #83D8F7;
    color: black;
    font-weight: bold;
  }
  
  /* Sección de la información */
  .info {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
  }
  
  .info section {
    width: 50%;
  }
  
  /* Títulos */
  h2,
  h3 {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  h3 {
    font-size: 1.3em;
  }
  

  /*label*/
  label{
    font-weight: bold;
    font-size: 1.2em;
    padding: 10px;

  }
  /* Inputs y select */
  input[type="text"],
  input[type="number"],
  textarea
 {
    width: 90%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
  }

  select{
    width: 40;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
    gap: 16px;
  }
  
  /* Textarea y campo de texto */
  textarea {
    background-color: #D9D9D9;
    border-radius: 10px;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    width: 100%; /* Ocupa todo el ancho disponible */
    box-sizing: border-box; /* Asegura que el padding no incremente el ancho total */
    font-size: 1.2em;

  }

  .info p{
    font-size: 1.2em;
  }

  .bio-int-pref p{

    background-color: #D9D9D9;
    border-radius: 10px;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    width: 100%; /* Ocupa todo el ancho disponible */
    box-sizing: border-box; /* Asegura que el padding no incremente el ancho total */
}

.bio p, .int-pref p {
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  
  
  /* Botones en modo edición */

  
  button#confirm-btn,
  button#cancel-btn {
    background-color: #2a5fe2;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-weight: bold;
    height: 40px;
    min-width: 100px;
  }
  
  button#cancel-btn {
    background-color: #f44336;
  }
  
  button#confirm-btn:hover {
    background-color: #83D8F7;
  }
  
  button#cancel-btn:hover {
    background-color: #eda2a1;
  }
  
  /* Bio, intereses y preferencias */
  .bio-int-pref {
    padding-top: 20px;
  }
  
  .bio,
  .int-pref {
    margin-bottom: 20px;
  }
  
  .int-pref {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  

  /*favoritos*/

/*favoritos*/

.RoomieCard {
  display: flex; 
  flex-direction: row; 
  align-items: center; 
  padding: 20px; /* Espaciado interno */
  border-radius: 20px; /* Bordes redondeados */
  
}

/* Opcional: Elimina el borde y ajusta el padding de los botones */
.RoomieCard-button {
  border: none; /* Sin borde */
  padding: 10px; /* Espaciado interno del botón */
  border-radius: 20px; /* Bordes redondeados */
  margin-top: 10px; /* Espacio encima del botón */
}

/* Si quieres que las tarjetas se agrupen en un solo bloque */
.RoomiesList {
  background-color: whitesmoke;
  border-radius: 50px;
  padding:0;
  margin:auto;
  margin-left: 300px; /* Agrega margen izquierdo para separarlo del sidebar *//
}

/* Estilo para el encabezado de RoomieCard */
.RoomieCard-header {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* Información de RoomieCard */
.RoomieCard-info {
  display: flex;
  flex-direction: column;
}

/* Imagen de RoomieCard */
.RoomieCard-img {
  width: 100px; /* Cambiado para que se ajuste mejor */
  height: 100px; /* Cambiado para que se ajuste mejor */
  border-radius: 50%;
}

/* Botón de RoomieCard */
.RoomieCard-button {
  cursor: pointer;
  margin-left: 16px;
  border: 0;
  border-radius: 20px; /* Cambiado para que coincida con el estilo general */
  padding: 10px 16px; /* Cambiado para que sea más cómodo */
  font-weight: bold;
  border: 1px solid #000;
  width: 140px;
}

.RoomieCard-button.is-fav {
  background-color: #0092BC;
  color: whitesmoke;
}

.RoomieCard-button:hover {
  background-color: #B8D9CA;
  color: black;
}