body{
  margin: 0;
  background: #daedf2;
  font-family: system-ui;
  display: grid;
  place-content: center;
  min-height: 100vh;
  
}


.App{
  display: flex;
  flex-direction:row;
  gap: 50px;
  padding:10vh;
  
}